<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=7">

    <script type="text/javascript">
        var baseUrl = '@Href("~/")';
        
    </script>

    <!-- Optional meta tags -->
    @RenderSection("HeadMeta", false)

    <!-- Core css -->
    @Styles.Render("~/bundles/LayoutCoreStyle")

    <title>Personal Finance Management</title>
    @*<link rel="icon" href="@Url.Content("~/Images/favicon.ico")" type="image/x-icon">*@
    
    <!-- Optional style -->
    @RenderSection("Style", false)
</head>
<body>
    <div id="wrapper">
        @Html.Partial("_MenuPartial")
        <div id="page-wrapper" class="gray-bg dashbard-1">
            @Html.Partial("_TopMenuPartial")
            @Html.Partial("_PageHeaderPartial")
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            @Html.Partial("_PageTitlePartial")
                            <div class="ibox-content pjax-container">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("_FooterPartial")
        </div>
    </div>

    <!-- Core js -->
    @Scripts.Render("~/bundles/LayoutCoreScript")

    @RenderSection("Script", false)
    
    <script type="text/javascript" language="javascript">
        if (top.location.hostname !== self.location.hostname) {
            top.location.href = self.location.href;
        }
    </script>

    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-content">
            <div class="modal-body"></div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('body').on('click', '.modal-link', function(e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });

            $('#modal-container').on('hidden.bs.modal', function() {
                $(this).removeData('bs.modal');
            });

            $('#modal-container').on('show.bs.modal', function () {
                $("#partialForm").validate();
            });

        });
    </script>

</body>
</html>
